.weather-app__header {
  background: linear-gradient(90deg,#4facfe, #00c6ff );
  border-bottom: 3px solid #ffffff66;
  color: #f1f5f9;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.weather-app__navbar { 
 .weather-app__nav-link {
  color: #f1f5f9;
  font-weight: 600;
  text-shadow: none;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  
   &:hover {
      color: #0b3c5d;
    }
  }

  .nav-link.active {
    color: #0b3c5d;
    border-bottom: 2px solid #0b3c5d;
    font-weight: 700;
  }
}


